.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/DesignSpecification.html
/DesignSpecification.tex
/Model/GameStateSequenceDiagram.png
/Model/GameStateSequenceDiagram.svg
/DesignSpecification.dvi
/DesignSpecification.tex~
/images/
/replacepage.sh
/umlpdfs/Abilities and Skills.uxf.pdf
/umlpdfs/Angle.uxf.pdf
/umlpdfs/Area.uxf.pdf
/umlpdfs/Behaviors.uxf.pdf
/umlpdfs/Controllers.uxf.pdf
/umlpdfs/Entity.uxf.pdf
/umlpdfs/EntityMovement.uxf.pdf
/umlpdfs/Events.uxf.pdf
/umlpdfs/GameStateSequenceDiagram.uxf.pdf
/umlpdfs/Interactions.pdf
/umlpdfs/Inventory.uxf.pdf
/umlpdfs/ItemBlocking.uxf.pdf
/umlpdfs/ItemTypes.uxf.pdf
/umlpdfs/KeyPreferences.uxf.pdf
/umlpdfs/LightShit.uxf.pdf
/umlpdfs/Map.uxf.pdf
/umlpdfs/Model.uxf.pdf
/umlpdfs/Projectile.uxf.pdf
/umlpdfs/RunGame.uxf.pdf
/umlpdfs/State Machinery.uxf.pdf
/umlpdfs/SubViewLayouts.uxf.pdf
/umlpdfs/TakeableItem.uxf.pdf
/umlpdfs/Trigger.uxf.pdf
/umlpdfs/View Layouts.uxf.pdf
/umlpdfs/View.uxf.pdf
/umlpdfs/ViewComponents.uxf.pdf
